<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
{% extends "base.html" %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        <h1 class="my-2">{{ company_name }}</h1>
        <div>
            <a href="{{ url_for('main.company_cards', b64_company_name=company_name|b64encode) }}" class="btn btn-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Card View">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-heading" viewBox="0 0 16 16">
                  <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                  <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
                </svg>
            </a>
            <a href="{{ url_for('main.company_detail', b64_company_name=company_name|b64encode) }}" class="btn btn-outline-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="List View">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-ul" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
            </a>
            <a href="{{ url_for('main.company_orgchart', b64_company_name=company_name|b64encode) }}" class="btn btn-outline-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Org Chart View">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-diagram-3" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H11a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 5 7h2.5V6A1.5 1.5 0 0 1 6 4.5v-1zM8.5 5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1zM3 11.5A1.5 1.5 0 0 1 4.5 10h1A1.5 1.5 0 0 1 7 11.5v1A1.5 1.5 0 0 1 5.5 14h-1A1.5 1.5 0 0 1 3 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1A1.5 1.5 0 0 1 9 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            {% if employees %}
                {% for person in employees %}
                <div class="col-lg-4">
                    <div class="card card-margin">
                        <div class="card-body">
                            <div class="widget-49">
                                <div class="widget-49-title-wrapper">
                                    <div class="widget-49-date-primary">
                                        {% if person.jpegPhoto and person.jpegPhoto[0] %}
                                            <img src="data:image/jpeg;base64,{{ person.jpegPhoto[0]|b64encode_photo }}" alt="Contact photo">
                                        {% else %}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                            </svg>
                                        {% endif %}
                                    </div>
                                    <div class="widget-49-meeting-info">
                                        <span class="widget-49-pro-title">{{ person.cn[0] if person.cn else 'Unknown' }}</span>
                                        <span class="widget-49-meeting-time">{{ person.title[0] if person.title else 'No Title' }}</span>
                                    </div>
                                </div>
                                <ul class="widget-49-meeting-points">
                                    {% if person.telephoneNumber and person.telephoneNumber[0] %}
                                    <li class="widget-49-meeting-item">
                                        <i class="bi bi-telephone-fill me-2" style="color: #17a2b8;"></i>
                                        <span><a href="tel:{{ person.telephoneNumber[0] }}" class="person-meta-link">{{ person.telephoneNumber[0] }}</a></span>
                                    </li>
                                    {% endif %}
                                    {% if person.mail and person.mail[0] %}
                                    <li class="widget-49-meeting-item">
                                        <i class="bi bi-envelope-fill me-2" style="color: #17a2b8;"></i>
                                        <span><a href="mailto:{{ person.mail[0] }}" class="person-meta-link">{{ person.mail[0] }}</a></span>
                                    </li>
                                    {% endif %}
                                    {% if person.street and person.street[0] %}
                                    <li class="widget-49-meeting-item">
                                        <i class="bi bi-geo-alt-fill me-2" style="color: #17a2b8;"></i>
                                        <span>{{ person.street[0] }}, {{ person.postalCode[0] if person.postalCode }} {{ person.l[0] if person.l }}</span>
                                    </li>
                                    {% endif %}
                                </ul>
                                <div class="widget-49-meeting-action">
                                    <a href="{{ url_for('main.person_detail', b64_dn=person.dn|b64encode) }}" class="btn btn-sm btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View Profile">
                                        <i class="bi bi-person-square"></i>
                                    </a>
                                    {% if not config.READONLY and (current_user.is_admin or current_user.is_editor) %}
                                    <a href="{{ url_for('main.edit_person', b64_dn=person.dn|b64encode) }}" class="btn btn-sm btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit Person">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <form action="{{ url_for('main.delete_person', b64_dn=person.dn|b64encode) }}" method="post" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this contact?');">
                                        <button type="submit" class="btn btn-sm btn-outline-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete Person">
                                            <i class="bi bi-person-x"></i>
                                        </button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="col">
                    <p class="text-center text-muted">No employees found for this company.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
