{% extends "base.html" %}

{% block navbar_buttons %}
<a href="{{ url_for('main.index') }}" class="btn btn-outline-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back to Address Book">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
      <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.274.274H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.828.218-.286.496-.542.79-.742zM6.5 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm0-4a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5z"/>
    </svg>
</a>
{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-dark text-white">
        <h1 class="my-2">{{ company.o[0] if company.o else 'Company Details' }}</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">Description</h5>
        <p class="card-text">{{ company.description[0] if company.description else 'N/A' }}</p>

        <h5 class="card-title mt-4">Address</h5>
        <p class="card-text">
            {% if company.street and company.street[0] %}
                {{ company.street[0] }}<br>
            {% endif %}
            {% if company.l and company.l[0] %}
                {{ company.l[0] }}{% if company.st and company.st[0] %}, {{ company.st[0] }}{% endif %} {{ company.postalCode[0] if company.postalCode and company.postalCode[0] }}
            {% else %}
                N/A
            {% endif %}
        </p>
    </div>
</div>

<div class="mt-4">
    <h2>Employees</h2>
    <div class="list-group shadow-sm">
        {% if employees %}
            {% for employee in employees %}
            <a href="{{ url_for('main.person_detail', b64_dn=employee.dn|b64encode) }}" class="list-group-item list-group-item-action">
                <strong>{{ employee.cn[0] if employee.cn else 'Unnamed Person' }}</strong><br>
                <small class="text-muted">{{ (employee.mail[0] if employee.mail else 'No email') }} | {{ (employee.telephoneNumber[0] if employee.telephoneNumber else 'No phone') }}</small>
            </a>
            {% endfor %}
        {% else %}
            <div class="list-group-item">No employees found for this company.</div>
        {% endif %}
    </div>
</div>
{% endblock %}
