{% extends "base.html" %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-dark text-white">
        <h1 class="my-2">{{ title }}</h1>
    </div>
    <div class="card-body">
        <form action="{{ url_for('main.edit_person', b64_dn=b64_dn) }}" method="post">
            <div class="row">
                {# Loop through the configured attribute map to dynamically create the form. #}
                {% for attr_name, display_name in config.LDAP_ATTRIBUTE_MAP.items() %}
                <div class="col-md-6 mb-3">
                    <label for="{{ attr_name }}" class="form-label" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ attr_name }}">
                        {{ display_name }}
                    </label>

                    {% if attr_name == 'manager' %}
                        <select class="form-select" id="manager" name="manager">
                            <option value="">None</option>
                            {% for manager in potential_managers %}
                                <option value="{{ manager.dn }}" {% if person.manager and person.manager[0] == manager.dn %}selected{% endif %}>
                                    {{ manager.cn[0] }}
                                </option>
                            {% endfor %}
                        </select>
                    {% else %}
                        {% set input_type = 'text' %}
                        {% if attr_name == 'mail' %}{% set input_type = 'email' %}{% endif %}
                        {% if attr_name == 'telephoneNumber' %}{% set input_type = 'tel' %}{% endif %}
                        <input type="{{ input_type }}" class="form-control" id="{{ attr_name }}" name="{{ attr_name }}" value="{{ (person[attr_name][0] if person.get(attr_name) else '') }}">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="{{ url_for('main.person_detail', b64_dn=b64_dn) }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
