{% extends "base.html" %}

{% block navbar_buttons %}
<a href="{{ url_for('main.edit_person', b64_dn=b64_dn) }}" class="btn btn-outline-light me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit Person">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.813z"/>
      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
    </svg>
</a>
<a href="{{ url_for('main.index') }}" class="btn btn-outline-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back to Address Book">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
        <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.887 3.112-.752 1.234.124 2.503.523 3.388.893v9.823c-.908-.349-2.107-.652-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015 1.232 5.587.81 4.5.77c-1.255-.04-2.51.196-3.5.571V14.5c.99-.375 2.245-.64 3.5-.57 1.255.07 2.486.42 3.5.97V1.783z"/>
    </svg>
</a>
{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-dark text-white">
        <h1 class="my-2">{{ person.cn[0] if person.cn else 'Person Details' }}</h1>
    </div>
    <div class="card-body">
        <dl class="row">
            {# This loop dynamically displays any attribute from the config map that has a value. #}
            {% for attr_name, display_name in config.LDAP_ATTRIBUTE_MAP.items() %}
                {% if person.get(attr_name) %}
                    <dt class="col-sm-3" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ attr_name }}">
                        {{ display_name }}
                    </dt>
                    <dd class="col-sm-9">
                        {% set values = person[attr_name] %}
                        {% if attr_name == 'mail' and values[0] %}
                            <a href="mailto:{{ values[0] }}">{{ values[0] }}</a>
                        {% elif attr_name == 'telephoneNumber' and values[0] %}
                            <a href="callto:{{ values[0] }}">{{ values[0] }}</a>
                        {% else %}
                            {{ values | join(', ') }}
                        {% endif %}
                    </dd>
                {% endif %}
            {% endfor %}
        </dl>
    </div>
</div>
{% endblock %}

